/* 

CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

@font-face{font-family:'fontStyle01';src:url("font/highlandgothiclightflf.eot?") format('opentype'),
url("font/highlandgothiclightflf.ttf") format('truetype');}

.yssfont01{
	font-family:'fontStyle01';
}
.yss-red-01{
	color:#D23600;
}
.shadow1{
	 text-shadow: 2px 2px 0px #CECECE;
}
.marginTop20{
    margin-top: 20px;
}
.borderBottom1{
	border-bottom: 1px dotted #D8D5D5;
}

.header_top {
   /* background: rgb(194, 14, 26);*/
   background:url(../images/bg/pattern_2.png) repeat-x;
    /*opacity: 0.8;*/
}

#logo-brandCn img{
	width:123px;
}

#lang-cn{
	width: 64px;
    height: 19px;
    position: absolute;
    top: -14px;
    right: 0;
    z-index: 999999;
}

#social-cn{
    width: 200px;
    bottom: 10px;
    position: absolute;
    z-index: 9999;
    right: 16%;
    text-align: right;
}

#social-cn a img{
	margin:0 4px;
}

/*.latest_offers {
    background: #B70000;
    border-top: 3px solid #821B1B;
    border-bottom: 3px solid #821B1B;
    padding: 35px 0 20px 0;
    width: 100%;
    position: relative;
}*/


.latest_offers{
	background: #B50000;
    border-top: 3px solid #DCDCDC;
    border-bottom: 3px solid #DCDCDC;
    padding: 35px 0 20px 0;
    width: 100%;
    position: relative;
}
.tabs_framed .tabs {
    margin: 0;
    background: #c42119;
}

.latest_offers .link_more {
    position: absolute;
    right: 0;
    top: 2px;
    color: #FFFFFF;
    font-size: 13px;
}

.latest_offers h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

    
	
.latest_item a {
    color: #FFFFFF;
}

#award-cn li img{
	width:123px;
	
}
.history01{
	margin:30px !important;	
}

.footer {
	background:url(../images/pattern/pattern002.jpg) !important;
    background: #2c2d2d;
    border-top: 3px solid #000;
}
.f_col h3 {
    font-size: 15px;
    font-weight: 600;
    color: #D20000;
    text-transform: uppercase;
}
.f_col li a {
    color: #ABABAB;
}
.footer .container {
    padding: 85px 0 30px 0;
    color: #A0A0A0;
}
#middle .content {
    width: 100%;
    float: left;
    min-height: 100px;
    margin: 0 38px 0 0;
}
.header_map {
	margin-top:0 !important;
	background:#000
}
.content .widget_recent_posts .post-meta, .content .widget_popular_posts .post-meta {
    padding: 10px 0 5px 0;
    text-align: left;
    font-size: 13px;
    color: #808080;
    margin: 0 !important;
    border: none;
    width: 214px;
    float: right;
}
.cols2 .content .row .col_1_2 {
    width: 275px;
}
.contact_box .left_side {
    width: 260px;
    float: left;
    margin-right: 60px;
}
.font-style-01{
	color: #B71B00;
    font-size: 22px;
}

.link-style-01:link{
	color: #B71B00;
    font-size: 22px;
}
.link-style-01:hover{
	color:#FF995B;
}
.link-style-01:visited{
	color: #B71B00;
}
.sitemap-header{
	font-family:'fontStyle01';
	font-size:18px;
	color:#fff;
	width: 200px;
    height: 30px;
    padding: 8px 5px 0 20px;
    background: #BE0E19;
	border-radius: 25px 0;
}
#middle.cols2, #middle.full_width {
    padding: 20px 0 75px 0;
}
.layout-pic-top{
	display: block;
    margin: 10px 0 40px;
    padding: 25px 0px 5px;
}
.brand_list2 .brand_logo {
    background: #fff;
    display: block;
    text-align: center;
    width: 230px;
    padding: 0;
    border-bottom: 3px solid #c6cccf;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    margin-bottom: 10px;
}

.history02{
	background: #BD0000;
    width: 479px;
    float: right;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
}
.history02 span{
	 padding: 0 22px;
}


.middle{
	min-width: 20%;
    float: left;
    padding: 5px 2px 2px 20px;
    background: #BE0E19;
    height: 37px;
	color:#fff;
}
.news-title1{
	background: #272727;
    color: #00B0CE;
    padding: 20px;
}
.event-box1{
	margin: 10px 4px;
    border-bottom: 1px dotted #BBB;
}
.product-feature{
	min-width: 50px;
    float: right;
    display: block;
    text-align: right;
    margin-top: -10px;
    padding: 0 0 0 10px;
}
.product-feature img{
	margin: 0 1px;
}


.product-feature2 img{
	margin: 1px;
}
.productPic{
	width: 400px;
    float: left;
    margin: 10px 60px;
}
.productPic img{
	width:100%;
}
.tabcontent .col_1_2 {
    width: 390px;
    margin-left: 40px !important;
}

a.link-style-1{
	color:#FFB06C;
}
a.link-style-1:hover{
	color:#fff;
}
a.link-style-2{
	color:#158AAF;
}
a.link-style-2:hover{
	color:#444;
}
ul#sidebar-banner{
	padding: 6px;
   /* background: #fff;*/
    clear: both;
    min-height: 218px;
   /* box-shadow: 2px 2px 10px #999;*/
}
ul#sidebar-banner li{
	width: 130px;
    height: 110px;
    float: left;
    margin: 4px;
}

.offer_list .offer_item h2 a {
    color: #5A5A5A;
    font-size: 22px;
}

.offer_specification li .spec_value {
    color: #DA0001;
}
.myGradient1{
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(47, #F6F6F6), color-stop(100, #ededed));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
	
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #ffffff 0%, #F6F6F6 47%, #ededed 100%);
}

.video-thumb{
	border: 6px solid #FFFFFF; 
	box-shadow: 4px 4px 4px #C3C3C3; 
	margin:0 0 20px 0;
}
.video-thumb img{
	height:160px !important;
	width:100%;
}