@CHARSET "UTF-8";
.css-pager a {
    text-decoration: none;
    color: #737373;
    /* background: #D40003;*/
    padding: 8px 10px;
    margin: 2px;
    font-weight: 700;
    font-size: 12px;
 }
.css-pager a:hover {
	text-decoration:none;
	color: #fff;
	background: #222020;
}
.current_page {
	text-decoration: none;
	color: #FFFFFF;
	background: #DC0000;
	padding: 8px 8px;
	margin: 2px;
	font-weight: 700;
	font-size: 11px;
}